<div class="container">

  <div class="row justify-content-center">
    <div class="col-5">
      <h3 class="bg-primary text-white p-3">
        [{{getName()}}] To Do List
      </h3>

      <div class="input-group">
        <input type="text" #todoText class="form-control">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addItem(todoText.value); todoText.value='';">Add</button>
        </div>
      </div>

      <div class="custom-control custom-checkbox my-3">
        <input type="checkbox" [(ngModel)]="isDisplay" class="custom-control-input" name="" id="displayAll">
        <!-- burada yine ngModel ile Bağlama işlemi yapıyoruz. Bağlama işlemi yapacağımız şey isDplay oldugu için onu yazıyoruz.-->
        <label class="custom-control-label" for="displayAll">Display All</label>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of getItems(); let i=index;">

            <td>{{i+1}}</td>
            <td>{{item.description}}</td>

            <td>
              <!-- ngModel'i model.ts içerisindekileri dinamik olarak güncellemek için kullanıyorum -->
              <!--ngModel kullanabilmek için app.module form eklemeliyiz.-->
              <input type="checkbox" [(ngModel)]="item.action">
              <!--ngModel sayesinde çift taraflı data bind işlemini gerçekleştirdik-->
              <!-- check yaparsak action değeri anlık olarak değişiyor. Yani birbirlerine bağlı(bind) -->
            </td>

            <td [ngSwitch]="item.action">
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchCase="false">No</span>
            </td>

          </tr>

          <!--<tr> <td>Kahvaltı</td> <td>No</td> </tr>
          <tr><td>Spor</td><td>No</td></tr>
          <tr> <td>Fatura</td> <td>No</td> </tr>
          <tr><td>Sinema</td><td>No</td> </tr>-->

        </tbody>
      </table>

    </div>
  </div>

</div>
